$primary: #ffd343
$primary_hover: #e6be3a
$second: #1d405d
$second_hover: #152f44

*
    margin: 0
    padding: 0

body
    font-family: 'Roboto', sans-serif
    overflow-x: hidden

a
    cursor: pointer

header
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $second
    height: 64px

.logo
    padding: 0 12px
    display: flex
    align-items: flex-end
    text-decoration: none

    h2
        font-size: 16px
        color: #ffffff
        padding-left: 12px

    img
        width: 32px
        height: 32px

.dropdown
    display: flex
    align-items: center
    height: 64px

    .dropdown-item:focus
        background-color: #333333

a.dropdown-toggle
    text-decoration: none

.nav-link,
.dropdown-toggle
    transition: .3s
    padding: 20px 1rem
    color: $primary
    &:hover
        background-color: $second_hover
        color: $primary_hover

.dc
    display: flex
    height: 64px
    width: auto
    text-align: center
    background-color: #6178C6
    font-size: 21px
    transition: .3s

    .arrow
        margin-left: 6px

    .nav-link
        color: #ffffff
        padding: 16px
        padding-left: 30px
        padding-right: 30px
        display: flex
        align-items: center
        justify-content: center
        &:hover
            color: #000000
            background-color: $primary

            .arrow
                transform: translateX(15px)
                transition: .3s
                color: black
.mobile_menu
    display: none

footer
    width: 100%
    text-align: center
    background-color: #333333
    color: #ffffff

    box-sizing: content-box

    p
        padding: 24px 0
        font-size: 14px
        margin-bottom: 0
        

@media screen and ( max-width:807px )
    .desktop_menu
        display: none

    header > .ham
        margin-right: 24px

    .ham
        div
            width: 26px
            height: 3px
            background-color: #ffffff

        div:nth-of-type(2)
            margin: 6px 0

    .mobile_menu
        .ham div
            background-color: #000000
        .ham
            margin-bottom: 6px

        z-index: 1
        height: 100vh
        width: 100vw
        background-color: #ffffff

        position: absolute
        top: 0
        left: 0
        transform: translateX(100%)

        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        transition: .2s

        ul
            padding-left: 0
            margin-bottom: 0
            list-style-type: none

        li
            text-align: center
            padding: 4px 0

        ul a
            text-decoration: none
            color: #1d405d

            font-size: 24px
            transition: .1s

            &:hover
                color: #ffd343

            &::after,
            &::before
            content: ' - '
        
        &.active
            transform: translateX(0)