* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1d405d;
  height: 64px;
}

.logo {
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
}

.logo h2 {
  font-size: 16px;
  color: #ffffff;
  padding-left: 12px;
}

.logo img {
  width: 32px;
  height: 32px;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
}

.dropdown .dropdown-item:focus {
  background-color: #333333;
}

a.dropdown-toggle {
  text-decoration: none;
}

.nav-link,
.dropdown-toggle {
  -webkit-transition: .3s;
  transition: .3s;
  padding: 20px 1rem;
  color: #ffd343;
}

.nav-link:hover,
.dropdown-toggle:hover {
  background-color: #152f44;
  color: #e6be3a;
}

.dc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  width: auto;
  text-align: center;
  background-color: #6178C6;
  font-size: 21px;
  -webkit-transition: .3s;
  transition: .3s;
}

.dc .nav-link {
  color: #ffffff;
  padding: 16px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dc .nav-link:hover {
  color: #000000;
  background-color: #ffd343;
}

.dc img {
  height: 18px;
  width: 16px;
  margin-left: 6px;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobile_menu {
  display: none;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

footer p {
  padding: 24px 0;
  font-size: 14px;
  margin-bottom: 0;
}

@media screen and (max-width: 807px) {
  .desktop_menu {
    display: none;
  }
  header > .ham {
    margin-right: 24px;
  }
  .ham div {
    width: 26px;
    height: 3px;
    background-color: #ffffff;
  }
  .ham div:nth-of-type(2) {
    margin: 6px 0;
  }
  .mobile_menu {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .mobile_menu .ham div {
    background-color: #000000;
  }
  .mobile_menu .ham {
    margin-bottom: 6px;
  }
  .mobile_menu ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .mobile_menu li {
    text-align: center;
    padding: 4px 0;
  }
  .mobile_menu ul a {
    text-decoration: none;
    color: #1d405d;
    font-size: 24px;
    -webkit-transition: .1s;
    transition: .1s;
    content: ' - ';
  }
  .mobile_menu ul a:hover {
    color: #ffd343;
  }
  .mobile_menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

main {
  min-height: calc(100vh - 69px - 64px);
  padding: 24px;
  max-width: 496px;
  margin: 0 auto;
}

strong a {
  text-decoration: none;
  color: #152f44;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  margin: 12px 0 4px;
}

input,
textarea {
  padding: 6px;
  border: 1px solid #1d405d;
}

textarea {
  resize: none;
}

input[type='submit'] {
  margin-top: 12px;
  width: 124px;
  border: 0;
  background-color: #ffd343;
  color: #1d405d;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type='submit']:hover {
  background-color: #1d405d;
  color: #ffd343;
}

main img {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
}

@media screen and (min-width: 984px) {
  .lefttab {
    min-width: 346px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 984px;
  }
  main img {
    margin-top: 0;
    margin-left: 50px;
    width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */