{% extends "base.html" %}
{% load static %}

{% block title %}hej jestem tytułem{% endblock %}

{% block content %}
    <div class="lefttab">
        <h1>Formularz kontaktowy.</h1>
        <p>Wyślij nam wiadomość, <strong><a href="mailto:sebastianfejsbuk@gmail.com">tutaj</a></strong> lub bezpośrednio poniżej</p>
        <form method="POST">
            <label>Imie/Nick</label>
            <input required type="text" name="nick" placeholder="np. SebastianEKGT#7765">

            <label>Email</label>
            <input required type="email" name="email" placeholder="np. severussnape@hogwart.com">

            <label>Wiadomość</label>
            <textarea name="msg" placeholder="Message."></textarea>

            <!-- CAPTCHA HERE -->

            <input type="submit" value="Wyślij!">
        </form>
    </div>
    <img src="{% static "assets/images/undraw_agreement_aajr_backup.svg" %}" alt="simple image with girl and contacts">
{% endblock %}